/* General */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap');
a, h1, h2, h3, h4, h5, h6, p{
    font-family: "Playfair Display";
}
::selection {
    background: rgb(143, 143, 143);
    color: rgb(221, 221, 221);
    text-shadow: none;
}
body{
    margin: 0;
    overflow-x: hidden;
}
/* Loader */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 990;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hidden{
    animation: hide 0.5s;
    animation-fill-mode: forwards;
}
nav{
    position: fixed;
    z-index: 980;
    top: 0;
    left: 0;
    background-color: rgb(22, 138, 255);
    width: 100%;
    height: 100vh;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}
.loaded{
    position: relative;
    height: 84px;
}
/* Navigation */

.nav{
    display: flex;
    height: 84px;
    width: 100vw;
    align-items: center;
    align-self: flex-end;
    max-width: 840px;
    margin: 0 auto;
}
.logo{
    padding: 18px;
    font-size: 32px;
    margin-right: auto;
}
/* Menu */
.nav .menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav .menu li{
    padding: 18px;
}
.nav .menu ul a{
    font-size: 22px;
}

/* Other menu */
.other{
    display: flex;
    padding: 0;
    margin:  0 28px 0 0;
    list-style-type: none;
}
.other li{
    margin-left: 14px;
}
.nav a, .nav .hamburger, .nav .settings {
    color: rgb(236, 236, 236);
    transition: 0.4s;
}
.hamburger{
    display: none;
}

/* Title */
.title{
    display: flex;
    align-items: flex-end;
    height: 568px;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}
.header{
    margin: auto auto 88px;
    padding: 0 24px;    
}
.header h1,.header p{
    color: rgb(247, 247, 247);
    text-shadow: 6px 6px 7px rgb(61, 61, 61);
}
.header h1{
    font-size: 44px;

}
.header p{
    font-size: 24px;
}

/* Settings */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(22, 138, 255);
}
input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}
.slider {
    border-radius: 34px;
}
  
.slider:before {
    border-radius: 50%;
    box-shadow: 0 0 5px #222;
}
/* Content side */
.content{
    margin-bottom: 48px;
}
article{
    max-width: 840px;
    margin:  24px auto 0;
    padding: 0 14px;
    line-height: 1.625;
}
.slideshow{
    margin-bottom: 12px;
}
h2{
    font-size: 32px;
    margin: 0 0 7px;
}
h3{
    margin: 0 0 7px;
    text-align: center;
    font-weight: 600;
}
h6{
    font-size: 16px;
    margin: 0 0 18px;
}
hr{
    margin: 7px 0;
}
article p{
    font-size: 18px;
    margin: 0 0 8px;
}
strong{
    font-weight: 900;
}
/* Footer */
.footer{
    background-color: rgb(34, 34, 34);
    width: 100%;
    padding: 48px 0;
    height: auto;
    display: flex;
    justify-content: center;
    height: auto;
    flex-flow: row wrap;
}

.footer .container{
    margin: 0 24px 16px;
    min-width: 272px;
}
.footer h2, .footer p, .footer i{
    margin: 0;
    color: rgb(240, 240, 240)
    
}
.footer i{
    font-size: 32px;
    margin-right: 7px;
}
.footer h2{
    margin: 0 0 7px;
}
.footer p{
    margin-left: 8px;
    color: rgb(247, 247, 247);
    font-size: 18px;
}
.footer a{
    color: rgb(247, 247, 247)
}
.footer h6{
    width: 100vw;
    text-align: right;
    color: rgb(247, 247, 247);
    margin: 7px 24px 0;
}
.footer > div{
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 auto;
}
/* Gallery */
.gallery{
    margin: 24px 0 7px;
}
.gallery img{
    margin: 0!important;
    padding: 5px!important
}

/* Off Canvas */

.uk-offcanvas-bar{
    background: rgb(255, 255, 255);
}
.uk-offcanvas-bar > .uk-offcanvas-close > svg > line{
    stroke: #222 !important;
}
.uk-offcanvas-bar{
    color:rgb(34, 34, 34)
}
.uk-offcanvas-bar h3{
    margin-top: 22px;
}
.uk-offcanvas-bar .uk-width-expand{
    font-size: 20px;
}
.menuoff{
    display: flex;
    align-items: center;
    font-size: 28px;
}
.menuoff ul{
    margin: 0;
    margin-left: 24px;
    padding: 0;
    list-style-type: none;
}
.menuoff li > a{
    color: rgb(34, 34, 34);
}
.menuoff li > a:hover{
    color: rgb(34, 34, 34);
    text-decoration: rgb(34, 34, 34);
}




/* Keyframes */
@keyframes hide {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
/* @media */
@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
}