@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap');
a, h1, h2, h3, h4, h5, h6, p{
    font-family: "Playfair Display";
}
::selection {
    background: rgb(143, 143, 143);
    color: rgb(221, 221, 221);
    text-shadow: none;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.title{
    display: flex;
    align-items: flex-end;
    height: 568px;
    width: 100%;
    background: url(../img/yellowstone.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    flex-direction: column;
}
.header{
    margin: auto auto 88px;
    padding: 0 24px;    
}
.header h1,.header p{
    color: rgb(247, 247, 247);
    text-shadow: 6px 6px 7px rgb(61, 61, 61);
}
.header h1{
    font-size: 44px;

}
.header p{
    font-size: 24px;
}
.nav{
    display: flex;
    z-index: 980;
    height: 68px;
    width: 100vw;
    align-items: center;
    align-self: flex-start;
    max-width: 840px;
    margin: 0 auto;
}
.nav ul{
    display: flex;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
}
.nav li{
    padding: 18px;
}
.nav a{
    text-shadow: 6px 6px 7px rgb(0, 0, 0);
}
.nav ul a{
    font-size: 22px;
}
.logo{
    padding: 18px;
    font-size: 32px;
}
.nav a{
    color: rgb(236, 236, 236);
    transition: 0.4s;
}
.content{
    margin-bottom: 48px;
}
article{
    max-width: 840px;
    margin:  24px auto 0;
    padding: 0 24px;
    line-height: 1.625;
}
h2{
    font-size: 32px;
    margin: 0 0 7px;
}
h3{
    margin: 0 0 7px;
    text-align: center;
    font-weight: 600;
}
h6{
    font-size: 16px;
    margin: 0 0 18px;
}
hr{
    margin: 7px 0;
}
article p{
    font-size: 18px;
    text-indent: 48px;
    margin: 0 0 8px;
}
strong{
    font-weight: 900;
}

.footer{
    background-color: rgb(34, 34, 34);
    width: 100%;
    padding: 48px 0;
    height: auto;
    display: flex;
    justify-content: center;
    height: auto;
    flex-flow: row wrap;
}

.footer .container{
    margin: 0 24px;
    min-width: 272px;
}
.footer h2, .footer p, .footer i{
    margin: 0;
    color: rgb(240, 240, 240)
    
}
.footer i{
    font-size: 32px;
    margin-right: 7px;
}
.footer h2{
    margin: 0 0 7px;
}
.footer p{
    margin-left: 8px;
    color: rgb(247, 247, 247);
    font-size: 18px;
}
.footer a{
    color: rgb(247, 247, 247)
}
.footer h6{
    width: 100vw;
    text-align: right;
    color: rgb(247, 247, 247);
    margin: 7px 24px 0;
}
.footer > div{
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 auto;
}